@import "../../../app/styles/mixins/flexbox.scss";

.ExpandableFilters {
  background: white;
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  box-shadow: var(--shadow-soft);

  h5 {
    font-weight: bold;
    color: var(--secondary-text-color);
  }
}

.ExpandableFiltersMobile {
  div[role='menu'] {
    position: fixed;
    inset: 110px 0 0 0;
    width: 18rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
  }
}
